@import url('../index.css');

.tag {
  display: flex;
  padding: var(--spacing-s-05, 0.2rem) 0.9rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 4rem;
  background: var(--y-bg-brand);
  min-width: 2.5rem;
}

.tag > span {
  text-align: center;
  color: var(--y-text-inverse);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all .2s;
}

.tag.primary {
  background: var(--y-bg-brand);
}

.tag.secondary {
  background: var(--y-text-secondary);
}

.tag.success {
  background: transparent;
  border: 1px solid var(--y-text-success);
}

.tag.success > span {
  color: var(--y-text-success);
}

.tag.warning {
  background: transparent;
  border: 1px solid var(--y-text-warning);
}

.tag.warning > span {
  color: var(--y-text-warning);
}

.tag.danger {
  background: transparent;
  border: 1px solid var(--y-text-danger);
}

.tag.danger > span {
  color: var(--y-text-danger);
}