@import url('../index.css');

.badge, .dot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  align-self: stretch;
}

.badge > span {
  display: flex;
  padding: var(--spacing-s-05, 0.2rem) 0.9rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4rem;
  background: var(--y-bg-brand);
  min-width: 2.5rem;
  text-align: center;
  color: var(--y-text-inverse);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all .2s;
}

.badge.lg > span {
  font-size: 1.4rem;
}

.badge.primary > span {
  background: var(--y-bg-brand);
}

.badge.secondary > span {
  background: transparent;
  border: 1px solid var(--y-text-secondary);
  color: var(--y-text-secondary);
}

.badge.success > span {
  background: transparent;
  border: 1px solid var(--y-text-success);
  color: var(--y-text-success);
}

.badge.warning > span {
  background: transparent;
  border: 1px solid var(--y-text-warning);
  color: var(--y-text-warning);
}

.badge.danger > span {
  background: transparent;
  border: 1px solid var(--y-text-danger);
  color: var(--y-text-danger);
}

.badge > label, .dot-wrapper > label {
  text-align: left;
  color: var(--y-text-primary);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  transition: all .2s;
}

.badge.lg > label {
  font-size: 1.6rem;
}

.dot {
  width: .8rem;
  height: .8rem;
  padding: 0;
  border-radius: 50%;
  background: var(--y-bg-brand);
  border-color: var(--y-bg-brand);
  max-width: .8rem;
  transition: all .2s;
}

.dot-wrapper.primary > label {
  color: var(--y-bg-brand);
}

.dot-wrapper.secondary > label {
  color: var(--y-text-secondary);
}

.dot-wrapper.success > label {
  color: var(--y-text-success);
}

.dot-wrapper.warning > label {
  color: var(--y-text-warning);
}

.dot-wrapper.danger > label {
  color: var(--y-text-danger);
}

.dot-wrapper.primary > .dot {
  background: var(--y-bg-brand);
}

.dot-wrapper.secondary > .dot {
  background: var(--y-text-secondary);
}

.dot-wrapper.success > .dot {
  background: var(--y-text-success);
}

.dot-wrapper.warning > .dot {
  background: var(--y-text-warning);
}

.dot-wrapper.danger > .dot {
  background: var(--y-text-danger);
}